.explore {
  text-align: center;
  color: white;
  font-family: 'Lobster Two', cursive;
  font-weight: 700 bold;
  font-size: 300px;
  font-style: italic;
  text-shadow: 2px 2px $hot-pink;
  margin-top: 70px;
  margin-bottom: 300px;
  // background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jribbble-header, .favorites-header{
  font-size: 50px;
  text-align: center;
  color: white;
  background-color: $darker-neon-purple;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 normal;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
}

.o {
  color: $hot-pink;
}

.favorites-header {
  display: none;
}
